#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.form {
  text-align: center;
}

.itemPair {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.itemWithHeader {
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
  justify-content: space-evenly;
}

.redBg {
  background-color: red;
}

.blueBg {
  background-color: blue;
}
